<div class="body">  
    <ngb-carousel>  
        <ng-template ngbSlide>  
            <img src="../../../assets/images/D-1024x683.jpg" alt="Library">  
             <div class="carousel-caption">                      
                <h1 class="caption">Vision</h1> 
                
            <h2 class="caption-p"><b>To rise above life's challenges and influence in the world</b></h2>
        </div> 
  
        </ng-template>  
        <ng-template ngbSlide>  
            <img src="../../../assets/images/TECHNOLOGY-LABORATORIES2-1024x749.jpg" alt="Bangalore Metro">  
            <div class="carousel-caption">  
                    <h1 class="caption">Mission</h1> 
                    <h2 class="caption-p"><b>Each student will receive a well rounded education in a safe,supportive environment that promotes curiosity</b></h2>
            </div>  
        </ng-template> 
        <div class="body">   
        <ng-template ngbSlide>  
            <img src="../../../assets/images/Students.PNG" alt="Channai Metro">  
            <div class="carousel-caption">  
                    <h1 class="caption">Vision</h1> 
                    <h2 class="caption-p"><b>To rise above life's challenges and influence in the world</b></h2>
            </div>  
           </ng-template>  </div>
        <ng-template ngbSlide>  
            <img src="../../../assets/images/Friends.jpg" alt="Jaipur Metro">  
            <div class="carousel-caption">  
                    <h1 class="caption">Mission</h1> 
                    <h2 class="caption-p"><b>Each student will receive a well rounded education in a safe,supportive environment that promotes curiosity</b></h2>  
            </div>  
        </ng-template>  
        <ng-template ngbSlide>  
            <img src="../../../assets/images/place.jpeg" alt="Mumbai Metro">  
            <div class="carousel-caption">  
                    <h1 class="caption">Vision</h1> 
                    <h2 class="caption-p"><b>To rise above life's challenges and influence in the world</b></h2>
            </div>  
        </ng-template>  
    </ngb-carousel> 
</div> 
<!-- </div>  
   

</div>   -->