<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar  src="{{ backendUrl }}file/images/get/PROFILE_ADMIN/{{ profile }}/" class="example-header-image">
      <mat-card-title> {{ name }} </mat-card-title>
      <mat-card-subtitle>Posted on {{ date }}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <h1> {{ title }} </h1>


      <img mat-card-image class="article-css" src="{{ backendUrl }}file/images/get/NEWS/{{ imgUrl }}/">

      <p>
         {{ description }}
      </p>

      <br>

     

    </mat-card-content>
    
  </mat-card>


  

