
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Verify</h2>
                  <p>Eneter verification code which has been sent to your email</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="Verification Code" class="form-control" [(ngModel)]="code" required type="number"[formControl]="codeCntrl">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Verify" (click)="onClick()" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 

                      <mat-error *ngIf="isFailed">{{getErrorMessage()}}</mat-error>

                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>