
        <h1 mat-dialog-title><b>Registration</b></h1>
        <div mat-dialog-content>
                <button mat-raised-button color="primary" (click)="openDialogForRegisterStudentFirstForm()">Register Student</button>
                <br/><br/>
                <button mat-raised-button color="primary" (click)="openDialogForRegisterTeacherFirstForm()">Register Teacher</button>
                <br/><br/>
                <button mat-raised-button color="primary"(click)="openDialogForRegisterAdminFirstForm()">Register Admin</button> 
        
        

