.divv{
    margin-top: 2px;
    
}
.input{
    margin-left: 20%;
}
/* .div2{
    border-style: solid; 
} */
.card{

    text-align: center
}
.button{
    margin-left: 40%!important;
}
.sheet{
    margin-left: 30%;
    margin-top: 4%;
}