<mat-card class="maincardproperties">
    <mat-card class="cardproperties">
      <label>04/11/2019</label>
      <div class="dropdownproperties">
        <label>Add New </label>
    <select >
      <option value="default"> Select</option>
      <option value="notes"> Notes</option>
      <option value="assignments">  Assignments</option>
      <option value="notices">  Notices</option>
    </select>
    </div>
  </mat-card>
  <br>
  <div class="divproperties">
    
      <div><h6>Notes</h6>
       <a href="">Lecture Note 1.pdf</a>
     </div>
     <div><h6 >Assignments</h6>
       <a href="">Assignment 1.pdf</a>
     </div>
     <div><h6  >News</h6>
     </div>
  </div>
  </mat-card>
  
