<div class="divv"><h1 class="head">Administration</h1></div>
<div class="administration-css">    
    <mat-grid-list cols="2" rowHeight="2:0.8">
        <mat-grid-tile>
               <!-- <mat-card class="mat-card:not"> -->
            <mat-card class="mat-card-css-administration">
                    
                    <mat-card-content>

                    </mat-card-content>
               
                    <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="onRegistrationClick()">Registration</button>
                    </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="mat-card-css-assign">
                    
                        <mat-card-content>
    
                        </mat-card-content>
                        <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="onAssign()">Assign</button>
                        </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="mat-card-css-addNew">
                    
                        <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="onAddNewItems()">Add New Items</button>
                        </mat-card-actions>
                        <mat-card-content>
                                
                            </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="mat-card-css-approve">
                    
                        <mat-card-content>
    
                        </mat-card-content>
                        <mat-card-actions>
                                <button mat-raised-button color="primary">Approve</button>
                        </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      
</div>

