    
    <button mat-button [matMenuTriggerFor]="menu" class= "button"><mat-icon matBadge="3" svgIcon="notification" inline="true" class="icon"></mat-icon></button>
    <mat-menu #menu="matMenu">
      <mat-card><mat-card-header>
   
        <mat-card-title>Assignment Complain</mat-card-title>
        <mat-card-subtitle>Regarding 174060E</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content><p>Amesh has not done Assignment</p></mat-card-content>
      </mat-card>
    </mat-menu>
    
  
